body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #37393e; /* dark black */
    color: #ededed; /* white text */
}

/* primary color */
header,
.cta-btn,
.feature i {
    color: #FF215C;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
	background-color: #1e1e1e;
}

header nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #ffffff;
}

header nav a:hover {
    color: #FF215C;
}

.hero {
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 80px 0;
}

.hero h1 {
  font-size: 46px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 40px;
  line-height: 1.5;
}

.cta-btn {
	margin-top: 8px;
    text-decoration: none;
    padding: 18px 28px;
    border: 2px solid #FF215C;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
}

.cta-btn:hover {
    background-color: #FF215C;
    color: #ffffff;
	cursor: pointer;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 20px;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 342px;
	height: 218px;
    margin: 20px;
    text-align: center;
	background-color: #262627ff;
	border: 4px solid #5e5e5e;
	border-radius: 30px;
}

.feature i {
    font-size: 48px;
    margin-bottom: 24px;
}

.feature h2 {
    font-size: 24px;
    margin: 8px;
}

.feature p {
    font-size: 18px;
	margin: 12px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f1f1f;
    color: #ffffff;
    padding: 20px;
}

.copyright {
    font-size: 12px;
}
